<form class="form-horizontal" role="form" ng-submit="createTodo()">
	<div class="form-group">
		<label for="title" class="col-sm-2 control-label">Title</label>
		
		<div class="col-sm-10">
			<input type="text" class="form-control" id="title" placeholder="Write todo..." ng-model="todo.title">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">New Todo</button>
		</div>
	</div>
</form>