<h2>All Todos <a class="btn btn-primary pull-right" href="#/create"><i class="glyphicon glyphicon-plus-sign icon-white"></i> New Todo</a></h2>

<table class="table table-hover">
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Created On</th>
		<th>Done</th>
		<th>Actions</th>
	</tr>
	<tr class="success-{{todo.done}}" ng-repeat="todo in todos">
		<td>{{$index+1}}</td>
		<td>{{todo.title}}</td>
		<td>{{todo.createdOn |date:'medium'}}</td>
		<td><input type="checkbox" ng-change="todoStatusChanged(todo)" ng-value="todo.done" ng-model="todo.done"></td>
		<td><a href="#/{{todo.id}}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i></a><button class="btn btn-default" ng-click="deleteTodo(todo)"><i class="glyphicon glyphicon-remove"></i></button></td>
	</tr>
</table>